@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/Inter.otf') format('truetype-collection');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aston';
    src: url('/fonts/aston/aston.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NK57';
    src: url('fonts/nk57/NK57 Monospace Se Bk.otf') format('truetype-collection');
    font-weight: normal;
    font-style: normal;
}
/*https://www.dafont.com/the-billion.font*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-inter;
}
